/* globals && details */
button {
    border: none;
    background-color: transparent;
}
.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0px 15px;
}

.d-flex {
    display: flex;
}
.d-row {
    flex-direction: row;
}
.d-col {
    flex-direction: column;
}

/* modules */


.currency-navigation {
    padding-top: 100px;
}
.currency-list {
    padding-top: 200px;

    .ant-card-grid {
        background: #191f38;
        color: white;
    }
    .ant-card-grid:hover {
        background-color: #1890ff;
        box-shadow: none !important;

        & a {
            color: white;
        }
    }

    .currency-item {

        &__header {
            align-items: baseline;
            justify-content: space-between;

            button {
                cursor: pointer;
            }
        }

        &__details {
            align-items: flex-start;
        }
    }
}

.preloader-home {
    padding-top: 100px;
    justify-content: center;
}